<h2 class="text-Title">About</h2>
<div class="line"><hr></div>
<div class="text-about">
	<p>Typing Track is an app to show how fast you can type. Be it dummy texts, random words, or even fully-fledged texts. It's ideal to see how many words you can type per minute (wpm), practice touch typing, or just have some fun.</p>
	<p>While you are typing it shows instant feedback on whether you typed right or wrong and also on which word you are using easy to see colors. Don't worry if you got something wrong, that's normal, you can always backtrack. In the end of each run, all the words correctly typed are counted and it shows you your results With each new run more data is available to make the results even more accurate. This is important since our typing seed can vary greatly between days and even hours on the same day.</p>
	<h3>Why it was created?</h3>
	<p>Hi, I'm Awygui Dev, a software engineering student, recently I was interested in tracking my typing speed and in touch typing. I'm always looking to refine my coding skills, so I thought to myself: Why not study while also making something fun? And from that came out TypingTrack. If you want to know more about me, or just say something about TypingTrack can find me at <a style="color: var(--selection);">awyguidev@gmail.com.</a></p>
</div>

