<main>
	<section class="card-background typing">
		<section class="card-inside"
			[@routeAnimations]="o && o.activatedRouteData
			&& o.activatedRouteData['animation']">
			<router-outlet #o="outlet"></router-outlet>
		</section>
	</section>
	<div class="ads"><script type="text/javascript">
		atOptions = {
			'key' : '1e0aa8d83a8638385e4e261e46c1445e',
			'format' : 'iframe',
			'height' : 600,
			'width' : 160,
			'params' : {}
		};
		document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.effectivedisplaycontent.com/1e0aa8d83a8638385e4e261e46c1445e/invoke.js"></scr' + 'ipt>');
	</script></div>
</main>