.wrong{
    color: var(--wrong);
}

.interaction{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-interaction{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 50%;
}

.aim{
    background-color: var(--headerS);
    color: var(--textL);
    margin-top: 2.5%;
    margin-bottom: 0.5%;
    display: block;
    overflow: auto;


}

.target{
    background-color: var(--card-interaction);
    margin-top: 0.5%;
    margin-bottom: 2.5%;
}
.aim-text{
    display: block;
    padding: 0.5em;
    font-size: 1.3em;
    line-height: 1.3em;
    vertical-align: top;

}

.target-text{
    background-color: var(--card-interaction);
    font-size: 1.5em;
    line-height: 1.5em;
    resize: none;
    overflow: auto;
    padding: 0.7em;
    width: 100%;
    height: auto;
}


.coutdown{
    text-align: right;
    height: auto;
    margin-right: 0;
    margin-left: 89%;
    margin-bottom: 0;
    margin-top: 0;

}

.returnBig{
    width:30%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2em;
}

