.wrong{
    color: var(--wrong);
}

.interaction{
    display: flex;
    flex-direction: column;
    height: 35em;
}

.card-interaction{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 50%;

}

.aim {
    background-color: var(--headerS);
    color: var(--textL);
    margin-top: 2.5%;
    margin-bottom: 0.5%;
    overflow: auto;
}

.target{
    background-color: var(--card-interaction);
    margin-top: 0.5%;
    margin-bottom: 2.5%;
}
.aim-text{
    padding: 0.5em;
    font-size: 1.3em;
    line-height: 1.3em;
    overflow: auto;
}

.target-text{
    background-color: var(--card-interaction);
    font-size: 1.5em;
    line-height: 1.5em;
    resize: none;
    overflow: auto;
    padding: 0.7em;
    width: 100%;
    height: auto;
}


.coutdown{
    text-align: right;
    height: auto;
    margin-right: 0;
    margin-left: 89%;
    margin-bottom: 0;
    margin-top: 0;

}

@media screen and (max-width: 480px){
    .coutdown{
        margin-left: 80%;
    }
}

@media screen and (max-width: 600px) and (min-width: 481px){
    .coutdown{
        margin-left: 85%;
    }
}

@media screen and (max-width: 700px) and (min-width: 601px){
    .coutdown{
        margin-left: 85%;
    }
}

@media screen and (max-width: 768px) and (min-width: 701px){
    .coutdown{
        margin-left: 85%;
    }
}

@media screen and (max-width: 850px) and (min-width: 769px){
    .coutdown{
        margin-left: 85%;
    }
}

@media screen and (max-width: 1024px) and (min-width: 851px){
    .coutdown{
        margin-left: 85%;
    }
}
