:root{
    --background: #3E4C59;
    --header: #0c1010;
    --headerS: #1e2626;
    --card: #E4E7EB;
    --card-interaction: #CBD2D9;
    --textL: #FAFAFA;
    --textD: #1F2926;
    --selection: #006db0;
    --wrong: #DA0000;
    font-family: "Source Code Pro", "Roboto Light";
}

/* app css stylesheet */
body{
    background-color: var(--background);
    font-family: "Source Code Pro", "Roboto Light";
    color: var(--textL);
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: var(--textL);
}

.ends{
    background-color: var(--header);
    height: 100%;
    margin-bottom: 0;
}

footer{
    padding: 2.1em;
}

.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 10px 5px 0 var(--headerS);
}

.titulo-site{
    font-size: 2em;
    font-weight: bold;
    padding: 1em;
}

.about{
    margin-right: 5em;
    margin-bottom: auto;
    margin-top: auto;
    font-size: 1.5em;
}

.about:hover{
    color: var(--selection);
}

.rights{
    text-align: center;
    padding-top: 1em;
    font-weight: normal;
    margin-bottom: 1em;
}

.dropdown-btn{
    background-color: var(--header);
    text-align: center;
    color: var(--textL);
    font-size: 24px;
    width: 100%;
    height: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0;
    box-shadow: 2px 2px 5px 0 var(--background);
    border: none;
    margin: 0;
}


.start{
    display: grid;
    grid-row: 4;
    grid-column: 2;
}

.start:hover{
    background-color: var(--selection);
    color: var(--textL);
    cursor: pointer;
}

.start:active{
    background-color: var(--background);
    color: var(--textL);
}

.text-Title{
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}

.card-inside{
    min-height: 0;
}

.card-background{
    display: grid;
    background-color: var(--card);
    color: var(--textD);
    width: 60em;
    height: auto;
    margin-bottom: 5em;
    margin-top: 2em;
    box-shadow: 10px 10px 5px 0 var(--headerS);
    grid-column: 2;
}

.text-disclaimer{
    margin-left: 50%;
    margin-right: 44%;
    text-align: center;
    font-size: 0.9em;
    color: var(--textL);
    padding-bottom: 1em;
    margin-bottom: 0.7em;
}

.text-disclaimer:hover{
    color: var(--selection);
    cursor: pointer;
}