:root{
    --background: #3E4C59;
    --header: #0c1010;
    --headerS: #1e2626;
    --card: #E4E7EB;
    --card-interaction: #CBD2D9;
    --textL: #FAFAFA;
    --textD: #1F2926;
    --selection: #006db0;
    --wrong: #DA0000;
    font-family: "Source Code Pro", "Roboto Light";
}

/* app css stylesheet */
body{
    background-color: var(--background);
    font-family: "Source Code Pro", "Roboto Light";
    color: var(--textL);
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: var(--textL);
}

.ends{
    background-color: var(--header);
    height: 100%;
    margin-bottom: 0;
}

footer{
    padding: 1em;
}

.top{
    box-shadow: 0 10px 5px 0 var(--headerS);
}

.titulo-site{
    font-size: 2em;
    font-weight: bold;
    padding: 1em;
}


.rights{
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    font-weight: normal;
    margin-bottom: 0.5em;
}