.result-card{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 1em;
    height: 35em;
}
#myChart{
    padding: 5%;
    height: inherit;
}
.result-graphic{
    display:grid;
    grid-column: 1;
    height: auto;
    margin-bottom: 0.5em;
}
.result-overview{
    display: grid;
    grid-column: 2;
    padding: 1em;
    text-align: center;
}

.line{
    margin: 0;
    padding: 0;
}

.text-Title{
    margin-bottom: 0;
    padding-bottom: 0;
}

.text-number{
    font-weight: bold;
    font-size: 2em;
    margin: 0.5em;
}

.text-text{
    margin:0.5em;
}

.returnBig{
    width: 90%;
    height: auto;
    margin-top: 3em;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0.5em;
}

.delete-text{
    background-color: #DA0000;
    text-align: center;
    font-size: 0.8em;
    color: var(--header);
}

.delete-text:hover{
    color: var(--selection);
    cursor: pointer;
}