.selection{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    heigth: 100%;
    margin-top: 2.5%;
    margin-bottom: 3em;
    grid-column-gap: 2em;
    grid-row-gap: 1em;
}

.selection-time{
    display: grid;
    grid-row: 1;
    grid-column: 1;
}

.selection-text{
    display: grid;
    grid-row: 1;
    grid-column: 3;
}

.first{
    display: none;
}

select option{
    background-color: var(--card-interaction);
    color: var(--header);
    box-shadow: 2px 2px 5px 0 var(--background);
    width: 100%;
    margin-top: 1em;
    padding-left: 0;
    margin-left: 0;
}

select option :hover{
    background-color: var(--selection);
    color: var(--textL);
    cursor: pointer;
}

.description{
    margin: 1em 2em 1em;
    padding-bottom: 1em;
    font-size: 1.5em;
}

.selection-text-title{
    margin-bottom: 0.7em;
    padding-bottom: 0;
}

.text{
    margin-top: 0;
}
